.download {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 5% 160px;
}

.img {
  width: 414px;
  min-width: 409px;
  height: 570px;

 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
  border-radius: 20px;
  background: url('/download.png') lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.title {
  color: #0b579d;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 38px;
}

.block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 70px;
}

.subTitle {
  color: #333;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 18px;
}

.textTitle {
  color: #0b579d;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 23px;
}

.text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  max-width: 613px;

  margin-bottom: 23px;
}

@media (max-width: 1000px) {
  .download {
    align-items: center;

    padding: 0 5% 80px;
  }

  .block {
    flex-direction: column;
    gap: 40px;
  }

  .title {
    align-self: flex-start;
    font-size: 30px;
  }

  .textTitle {
    font-size: 30px;
  }
}

@media (max-width: 610px) {
  .textTitle {
    font-size: 24px;
  }
}


@media (max-width: 510px) {
  .img {
    width: 100%;
    min-width: 350px;
  }
}