.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #f1f1f1;

  padding: 14px 24px 40px;
}

.cartFlex {
  flex-grow: 1;
}

.cartWidth {
  max-width: 334px;
}

.infoBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;

  margin-bottom: 28px;
}

.name {
  color: #232323;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 9px;
}

.age {
  color: #181818;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin-bottom: 36px;
}

.link {
  color: #fe4747;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link:hover {
  color: #0b579d;
}

@media (max-width: 800px) {
  .cartWidth {
    max-width: 100%;
  }
}
