.main {
  padding: 0 5% 80px;
}

.title {
  color: #0b579d;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;



  margin-bottom: 25px;
}

.text {
  color: #333;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

@media (max-width: 1000px) {
  .main {
    padding: 20px 5% 80px;
  }}

@media (max-width: 610px) {
  .title {
    font-size: 32px;
  }}